@{
  ViewData["Title"] = ViewData["search"];
}

@section css {
  <link rel="Stylesheet" href="@Href("~/css/Euro.css")">
}

<div id="type">


<span id="cat-label"><h1>ผลการค้นหา "@ViewData["search"]"</h1></span>

    <div id="item-wrapper">

        <!--  //Raw Mockup
            <div id="item-cat" class="shadowBox">

                <img class="shadowBox" src="https://s2.gaming-cdn.com/images/products/442/orig/minecraft-java-edition-pc-game-microsoft-store-cover.jpg">

                <div id="item-sub-container">

                    <div id="item-label"><h2>Minecraft</h2><h3>Mojang</h3></div>
                    <div id="item-sub-label"><div><h3>200 บาท</h3></div><div><h1>150 บาท</h1></div></div>
                </div>
            </div> 
            -->


 @foreach (var item in Model) {

                <div id="item-cat" class="shadowBox">
<a href='@Url.Action("Game", "Store", new { game = @item.Name })'> 
                    <img class="shadowBox" src="/img/img_main/@item.Main_Image"> 
 </a>
                        <div id="item-sub-container">
                            <div id="item-label"><h2>@item.Name</h2><h3>@item.Developer</h3></div>
                            <div id="item-sub-label"><div><h3>@(item.Price+350)</h3></div><div><h1>@item.Price</h1></div></div>
                        </div>
                </div>

 }
    </div>
</div>
