@{
  ViewData["Title"] = "List";
}

@section css {
  <link rel="Stylesheet" href="@Href("~/css/Sek.css")">
}

@model List<GameStore.Models.Game>


<div id="list">
    <h1>List Stock</h1>

    @foreach (var item in Model)
    {
        <div class="container">
        
        <div class="cover">
            <img src="/img/img_main/@item.Main_Image" alt="@item.Main_Image">
        </div>
        <div class="group-text">

            
            <div class="game-name">
                <p>@item.Name</p>
            </div>

            
            <div class="game-remain">
                
                <p class="remain-quantity">จำนวนคงเหลือ : @item.Amount</p>
                
            </div>

            <!--//ส่ง id ของตัวที่จะ edit-->
            <div class="edit-store">
                <a href="/Management/Edit?id=@item.Id"><button>แก้ไข</button></a>
            </div>

            <!--//ส่ง id ตัวที่จะลบ-->
            <div class="del-store">
                
                <form asp-action="Delete">
                @* <input type="hidden" asp-for="Id" /> *@
                
                <button asp-action="Delete" asp-route-id="@item.Id" type="submit" asp-for="@item.Id">ลบ</button>
                </form>
                
                
                
               
            </div>
        </div>
    </div>
    }
    <!-- เดี๋ยวค่อย foreach ออกมา ในก้อนนี้-->
    

    

    
    <div class="add-store">
        <a href ="/Management/Add"><button>+</button></a>
    </div>
    

</div>
   
