@{
  ViewData["Title"] = "Order";
}

@section css {
  <link rel="Stylesheet" href="@Href("~/css/Sek.css")">
}

@model List<GameStore.Models.Order>


<div id="order">
    <h2>ข้อมูลคำสั่งซื้อ</h2>
    
    <div class="head-col">
        <div class="game-name">
            <p>game</p>
        </div>
        <div class="customer-name">
            <p>customer-name</p>
        </div>
        <div class="customer-email">

            <p>customer-email</p>

        </div>
        <div class="quantity">
            <p>quantity</p>
        </div>
        <div class="sum-price">
            <p>sum-price</p>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="container">
        <div class="game-name">
            <p>Game ID: @item.Game_Id</p>
        </div>
        <div class="customer-name">
            <p>@item.Name @item.LastName</p>
        </div>
        <div class="customer-email">

            <p>@item.Email</p>

        </div>
        <div class="quantity">
            <p>จำนวน : @item.Game_Amount</p>
        </div>
        <div class="sum-price">
            <p>@item.Price_Total บาท</p>
        </div>
    </div>
    }
    

</div>