@using System.Collections.Generic;

@{
  ViewData["Title"] = "Cart";

  Dictionary<Game, Cart> carts = Model;
  decimal totalPrice = 0;
  foreach((Game game, Cart cart) in carts) {
    totalPrice += cart.totalPrice;
  }
}

@section css {
  <link rel="Stylesheet" href="@Href("~/css/Not.css")">
}


<div id="cart">
  <h1>ตะกร้าสินค้า</h1>

  @{
    System.Console.WriteLine(carts);
    if(carts.Count() == 0) {
      <div class="empty-container">
        <center><p>ไม่มีสินค้าในตะกร้า</p></center>
      </div>
    }
  
    else {
      @* Game List in Cart *@
      @foreach ((Game game, Cart cart) in carts) {
        <div class="container">
          <div class="cover">
            <img src="img/img_main/@game.Main_Image" alt="@game.Name" >
          </div>
          <div class="game-name">
            <p>@game.Name</p>
          </div>
          <div class="game-action">
            <button class="cart-btn" id="addto-cart"> @Html.ActionLink("-", "RemoveFromCart", "Cart", new {id = @cart.gameId}, "")</button>
            <p class="game-quantity">@cart.count</p>
            <button class="cart-btn" id="addto-cart"> @Html.ActionLink("+", "AddToCart", "Cart", new {id = @cart.gameId}, "")</button>
          </div>
          <div class="game-price">
            <p >@cart.totalPrice บาท</p>
          </div>
        </div>
      }

      @* Footer menu *@
      <div class="footer-menu">
        <div class="left-menu">
          <button class="back-btn" onclick="location.href='@Url.Action("Index", "Home")'">
            <i class="fas fa-chevron-left"></i>
            กลับ
          </button>
        </div>

        <div class="right-menu">
          <div class="total">
            <h1>ราคารวม : </h1><h1 id="price_total">@totalPrice</h1><h1> บาท</h1>
          </div>
          <button class="accept-btn" type="submit">
            ถัดไป
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
    }
  }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
